*{
    margin: auto;
    padding: auto;
    /* background-color: black; */

}
#container{
    background-color: paleturquoise;
    height: 600px;
    
    font-size: medium;
    padding: 90px;
    display: block;
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    border-radius: 5px;
   
}

#container button{
    width: 100%;
    padding: 10px;
    border: 1px solid white;

margin-bottom: 15px;
margin-top: 5px;
resize: vertical;
border-radius: 5px;
}
button{
background-color: hotpink;
cursor: pointer;


}
table th{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    

}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: palevioletred;
}

